@import 'normalize.css';

@font-face {
  font-family: 'Bangers';
  src: url('/fonts/Bangers-Regular.ttf');
}

body {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  font-family: 'Bangers', cursive;
  user-select: none;
  border: 5px solid green;
}

img {
  display: none;
}
